-# Author: Hanne Tran
-# Date: 20.04.19 
-# Page with a table with all the questions of a patient.


%h1 Questions from patient #{@patient.id}
=link_to 'Back', patient_path(@patient.id), class: 'btn btn-primary btn-lg', style: 'float: right'

%table.table
  %thead
    %tr
      %th Question
      %th Description
  %tbody
    - @questions.each do |question|
      %tr
        %td= question.id
        %td= question.description
        %td= link_to 'Show', patient_question_path(@patient.id, question)
