-# Author: Hanne Tran
-# Date: 20.04.19 
-# Page with a specific question of a patient and a video.


%h1 Question #{@question.id}: #{@question.description}
%div{:align => "center"}
=link_to 'Back', patient_questions_path, class: 'btn btn-primary btn-lg', style:'float: right'
.container
  .video
    = video_tag "#{@t.file}", :size => "600x600", :controls => true, :style => "float: left; margin-left: 100px"

