-# Author: Hanne Tran
-# Date: 20.04.19 
-# Home page

%h1 Login Page

- if current_user
  = link_to 'View patients', patients_path, class: 'btn btn-primary btn-md'
- else
  = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-md'
  = link_to 'Sign in', new_user_session_path, class: 'btn btn-primary btn-md'
 
 



