-# Author: Hanne Tran
-# Date: 20.04.19 
-# This page is not used in the system.


<h1>Hello, Rails!</h1>
<p>Find me in app/views/patients/list.html.erb</p>

<% if @patients.blank? %>
<p> There are no patients currently in the system </p>
<% else %>
<p> These are the current patients in the system </p>

<ul id = "patients">
  <% @patients.each do |t| %>
  <li><%= link_to t.name, {:action => 'show', :id => t.id} -%></li>
  <% end %>
</ul>

<% end %>
