%p#notice= notice



%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Question
      %th Description
  %tbody
    - @q1.each do |q|
      %tr
        %td= q.patient_id
       
        %td= q.question_id
        %td= link_to 'Select', q

=link_to 'Back', patients_path, style: 'float:right', class: 'btn btn-primary btn-md'
