/*
 * Author: Hanne Tran
 * Date: 20.04.19
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 *
 * 
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding: 50px 50px 50px 50px;
  
  text-align: center;
}

container {
 align: center;
}


